nav {
    position: fixed;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: 3rem;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-bottom: 1px solid #cecece;
    z-index: 9999;


    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        width: 100vw;
        z-index: 1;
        margin-bottom: 5px;

        .i {
            transform: rotate(180deg) translateY(-4px);
            border-bottom: 4px solid #000;
        }

        .under-line {
            border-bottom: 4px solid #000;
        }
        
        a {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            text-decoration: none;
            color: #000;
        }
    }

    h1 {
        font-size: 2rem;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0 2rem 0 2rem;
        gap: 1rem;
        z-index: 2;

        
        li {
            font-size: .9rem;
            a {
                text-decoration: none;
                color: #000000;
            }
        }
    }
}